* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  position: relative;
  /* overflow: scroll; */
}
body {
  overflow: hidden;
  transition: 0.6s ease;
  background-color: rgb(46, 45, 45);
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.logo {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rotate {
  margin: 30px;
  height: 150px;
  width: 150px;
  animation: rj 0.8s linear infinite;
}
@keyframes rj {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 450px) {
  .rotate {
    height: 90px;
    width: 90px;
  }
}
