.header {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: rgb(66, 66, 66);
  color: white;
  transition: 0.6s ease;
}
@media (max-width: 405px) {
  .header h4 {
    font-size: 14px;
  }
}
